[MASTER]
init-hook='import sys; import os; sys.path.append('.'); print(f"sys.path: {sys.path}")'

[SIMILARITIES]
# Minimum lines number of a similarity.
min-similarity-lines=25
# Ignore comments when computing similarities.
ignore-comments=yes
# Ignore docstrings when computing similarities.
ignore-docstrings=yes
# Ignore imports when computing similarities.
ignore-imports=yes

[MESSAGES CONTROL]
# W0511: TODO:  (fixme)
# W1203: Use lazy % formatting in logging functions (logging-fstring-interpolation)
# C0114: Missing module docstring (missing-module-docstring)
# C0115: Missing class docstring (missing-class-docstring)
# C0116: Missing function or method docstring (missing-function-docstring)
# C0301: Line too long (line-too-long)
# E0401: Unable to import (import-error)
# R0902: Too many instance attributes (too-many-instance-attributes)
# R0903: Too few public methods (too-few-public-methods)
# R0912: Too many branches (too-many-branches)
# R0912: Too many branches (too-many-branches)
# R0913: Too many arguments (too-many-arguments)
# R0914: Too many local variables (too-many-locals)
# R0917: Too many positional arguments (too-many-positional-arguments)
# R1702: Too many nested blocks (too-many-nested-blocks)

disable=W0511,W1203,C0114,C0115,C0116,C0301,E0401,R0902,R0903,R0912,R0913,R0914,R0917,R1702